* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
}

/* puzzle components */

.puzzle-view {
    margin: auto;
}

.puzzle-view.unsolved .solved-marker {
    visibility: hidden;
}

.puzzle-grid {
    margin: auto;
    cursor: default;
    table-layout: fixed;
    /* width and height to be set by script */
}

.puzzle-grid td {
    /* font-size: 150%; */
    border-radius: 2px;
    vertical-align: middle;
    overflow: clip;
}

.puzzle-wall-target.too-few-walls {
    color: red;
}
.puzzle-wall-target.too-many-walls {
    color: magenta;
}
.puzzle-wall-target.correct-walls {
    animation: pulse 167ms linear;
}

@keyframes pulse {
    50% {
        transform: scale(115%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes dance {
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

.puzzle-cell {
    transition-property: font-size;
    transition-duration: 250ms;
}
.puzzle-cell[data-tile="Wall"] {
    background-color: rgb(75, 41, 2);
    color: transparent;
}
.puzzle-cell[data-tile="Wall"].too-many-walls {
    background-color: darkred;
}
.puzzle-cell[data-tile="Floor"] {
    color: transparent;
}
.puzzle-view.solved .puzzle-cell[data-tile="Monster"],
.puzzle-view.solved .puzzle-cell[data-tile="BossMonster"] {
    font-size: 90%;
}
.puzzle-view.solved .puzzle-cell[data-tile="Treasure"] {
    font-size: 110%;
}


/* editor */

.puzzle-editor-controls {
    float: left;
    text-align: left;
}
.puzzle-editor-controls fieldset {
    display: inline-block;
}
.puzzle-editor-controls input {
    font-size: 100%;
}


/* navigation */

.puzzle-list .puzzle-preview {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: 10em;
    margin-top: -5em;
}
.puzzle-list:hover .puzzle-preview {
    display: block;
}

/* light color scheme (default) */

body, a {
    background: #ddd;
    color: #222;    
}

.puzzle-grid td {
    background: #bbb;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
    body, a {
        background: #333;
        color: #ccc;    
    }

    .puzzle-grid td {
        background: #666;
    }
}

/* high-contrast color scheme */

@media print, (prefers-contrast: more) {
    .puzzle-grid td {
        border: 1px solid #222;
    }
    .puzzle-cell {
        color: #222 !important;
    }
}
