* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    font-size: 1rem;
}

/* puzzle components */

.puzzle-grid {
    margin: auto;
    cursor: default;
}

.puzzle-grid td {
    width: 10vw;
    height: 10vw;
    border-radius: 0.5vw;
    vertical-align: middle;
    overflow: clip;
}

.puzzle-count.too-many-walls {
    color: red;
}
.puzzle-count.correct-walls {
    color: green;
}

.puzzle-cell {
    font-size: 200%;
}
.puzzle-cell.puzzle-cell-wall {
    background-color: rgb(75, 41, 2);
    color: transparent;
}
.puzzle-cell.puzzle-cell-wall.too-many-walls {
    background-color: darkred;
}
.puzzle-cell.puzzle-cell-floor:not(.marked-floor) {
    color: transparent;
}
/* .puzzle-cell.puzzle-cell-monster {
}
.puzzle-cell.puzzle-cell-treasure {
} */
.solved-marker.unsolved {
    visibility: hidden;
}

/* light color scheme (default) */

body, a {
    background: #ddd;
    color: #222;    
}

.puzzle-grid td {
    background: #bbb;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
    body, a {
        background: #333;
        color: #ccc;    
    }

    .puzzle-grid td {
        background: #666;
    }
}

/* high-contrast color scheme */

@media print, (prefers-contrast: more) {
    .puzzle-grid td {
        border: 1px solid #222;
    }
    .puzzle-cell {
        color: #222 !important;
    }
}
