* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* puzzle components */

.puzzle-grid {
    margin: auto;
}

.puzzle-grid td {
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    vertical-align: middle;
}

.puzzle-cell {
    font-size: 150%;
}

/* light color scheme (default) */

body {
    background: #ddd;
    color: #222;    
}

.puzzle-grid td {
    background: #bbb;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #ccc;    
    }

    .puzzle-grid td {
        background: #666;
    }
}

/* high-contrast color scheme */

@media print, (prefers-contrast: high) {
    .puzzle-grid td {
        border: 1px solid #222;
    }
}
